*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}

    .btn_kor{
      color: #604AA0 !important;
      background-color: transparent !important;
      padding: 3% 9%;
    }


    .btn_eng{
      color: #fff !important;
      background-color: #604AA0 !important;
      border-radius: 20px;
      padding: 3% 9%;
    }

    #wallet .wallet_area .wallet_right {
      width: 30%;
    }
    
/*데탑*/
@media screen and (max-width:1440px) {

  .btn_kor{
    padding: 2% 5%;
    border-radius: 40px;
  }

  .btn_eng{
    padding: 2% 5%;
  }
}



/*노트북*/
  @media screen and (max-width:1024px) {
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
    
    .btn_eng{
      padding: 2% 5%;
      border-radius: 40px;
    }
    .btn_kor{
      padding: 3%;
    }

}



/*모바일*/

@media screen and (max-width:767px) {

}


/*모바일2*/


@media screen and (max-width:576px) {

}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {

}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
