
/*데탑*/
@media screen and (max-width:1440px) {
}



/*노트북*/
  @media screen and (max-width:1024px) {

    /* Business2 */
    #Business2 .business2_wrap .buns2_txt p br {
      display: block;
    }
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
}



/*모바일*/

@media screen and (max-width:767px) {

  /* Business2 */
  #Business2 .business2_wrap .buns2_txt p {
    margin-right: 5%;
    margin-bottom: 30px;
  }
  #Business2 .business2_wrap .buns2_txt p br {
    display: none;
  }

}


/*모바일2*/


@media screen and (max-width:576px) {
  
  /* Business1 */
  #Business1 .business1_wrap {
    width: 90%;
  }
  #Business1 .business1_wrap .buns_txt p {
    margin: 0 5%;
  }
  #Business1 .business1_wrap .buns_txt p .hide {
    display: block;
  }
  #Business1 .business1_wrap .buns_txt p .show {
    display: none;
  }
  
  /* Business2 */
  #Business2 .business2_wrap {
    width: 90%;
  }
  #Business2 .business2_wrap .buns2_txt {
    flex-direction: column;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0;
    text-align: center;
  }
}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {

}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
