
/*데탑*/
@media screen and (max-width:1440px) {

  /*header*/

  .logo_pc{
    display: none;
  }

  .logo_mobile{
    display: block;
  }

  .fixed_contents ul li{
    margin-right: 17%;
  }

  .fixed_contents ul li:last-child{
    margin-right: 0;
  }

  .fixed_menus{
    right: 40px;
  }

  .lang{
    width: 100%;
  } 

  
  .btn_kor{
    padding: 2% 5%;
    border-radius: 40px;
  }

  .btn_eng{
    padding: 3%;
  }


  /*home*/

  .home_wrap{
    width: 50%;
    left: 73%;
    top: 50%;
  }
  
}



/*노트북*/
  @media screen and (max-width:1024px) {

    /*header*/

    .pc_menu li{
      margin-right: 4%;
    }


    hgroup h1 img{
      max-width:70%;
    }


    /*home*/

    #home{
      height: 1380px;
    } 

    .home_wrap{
      width: 60%;
      left: 58%;
      top: 35%;
    }
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {

    /*header*/

    .pc_menu{
      display: none;
    }

    .m_menu_button{
      display: block;
    }
  
  
    .m_menu_button{
      float: right;
    }

 

    .fixed_menus{
      right: 60px;
    }

    .fixed_contents ul li{
      margin-right: 25%;
    }



    /*home*/

    #home{
      height: 1080px;
    } 


    .home_wrap{
      width: 70%;
      left: 52%;
      top: 30%;
    }
  }



/*모바일*/

@media screen and (max-width:767px) {

    /*header*/



    .fixed_menus{
      right: 85px;
    }

    .fixed_contents ul li{
      margin-right: 30%;
    }

      /*home*/

      #home{
        height: 1180px;
      } 
  
  
      .home_wrap{
        width: 80%;
      }
  
}


/*모바일2*/


@media screen and (max-width:576px) {

  /*header*/

  hgroup h1 img{
    max-width: 100%;
  }



  .m_menu ul li a{
    font-size: 1.48em;
  }

  .fixed_menus{
    display: none;
  }

  .m_menu_down{
    display: block;
  }


  
      /*home*/

      #home{
        height: 920px;
      } 
  
  
      .home_wrap{
        width: 100%;
        left: 59%;
        top: 32%;
      }
  
}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {
    .home_wrap{
      left: 57%;
    }
}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {
}
